## Q1

Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [1]:
import pandas as pd 
import requests
from bs4 import BeautifulSoup
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementNotInteractableException 
from selenium.webdriver.support.ui import WebDriverWait 
from selenium.webdriver.support import expected_conditions as EC
import time
import warnings
warnings.filterwarnings("ignore")

In [3]:
d1 = webdriver.Chrome(r'chromedriver.exe')

In [4]:
p1 = d1.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [5]:
rank = []

In [6]:
try:
    ranks = d1.find_elements(By.XPATH,'//div[@class="mw-parser-output"]/table[2]/tbody/tr/td[1]')
    for i in ranks:
        rank.append(i.text)
except NoSuchElementException as e :   #the element is not found
    print(e)
    rank.append("-")

In [8]:
print(rank)

['1.', '2.', '3.', '4.', '5.', '6.', '7.', '8.', '9.', '10.', '11.', '12.', '13.', '14.', '15.', '16.', '17.', '18.', '19.', '20.', '21.', '22.', '23.', '24.', '25.', '26.', '27.', '28.', '29.', '30.']

In [12]:
name = []

In [13]:
try:
    names = d1.find_elements(By.XPATH,'//div[@class="mw-parser-output"]/table[2]/tbody/tr/td[2]')
    for i in names:
        name.append(i.text)
except NoSuchElementException as e :   #the element is not found
    print(e)
    name.append("-")

In [14]:
print(name)

['"Baby Shark Dance"[4]', '"Despacito"[7]', '"Johny Johny Yes Papa"[14]', '"Bath Song"[15]', '"Shape of You"[16]', '"See You Again"[19]', '"Phonics Song with Two Words"[24]', '"Wheels on the Bus"[25]', '"Uptown Funk"[26]', '"Learning Colors – Colorful Eggs on a Farm"[27]', '"Gangnam Style"[28]', '"Masha and the Bear – Recipe for Disaster"[33]', '"Dame Tu Cosita"[34]', '"Axel F"[35]', '"Sugar"[36]', '"Roar"[37]', '"Counting Stars"[38]', '"Sorry"[39]', '"Baa Baa Black Sheep"[40]', '"Thinking Out Loud"[41]', '"Waka Waka (This Time for Africa)"[42]', '"Dark Horse"[43]', '"Lakdi Ki Kathi"[44]', '"Faded"[45]', '"Perfect"[46]', '"Let Her Go"[47]', '"Girls Like You"[48]', '"Humpty the train on a fruits ride"[49]', '"Lean On"[50]', '"Bailando"[51]']

In [15]:
uploader = []

In [16]:
try:
    uploaders = d1.find_elements(By.XPATH,'//div[@class="mw-parser-output"]/table[2]/tbody/tr/td[3]')
    for i in uploaders:
        uploader.append(i.text)
except NoSuchElementException as e :   #the element is not found
    print(e)
    uploader.append("-")

In [17]:
print(uploader)

["Pinkfong Baby Shark - Kids' Songs & Stories", 'Luis Fonsi', 'LooLoo Kids', 'Cocomelon – Nursery Rhymes', 'Ed Sheeran', 'Wiz Khalifa', 'ChuChu TV', 'Cocomelon – Nursery Rhymes', 'Mark Ronson', 'Miroshka TV', 'Psy', 'Get Movies', 'El Chombo', 'Crazy Frog', 'Maroon 5', 'Katy Perry', 'OneRepublic', 'Justin Bieber', 'Cocomelon – Nursery Rhymes', 'Ed Sheeran', 'Shakira', 'Katy Perry', 'Jingle Toons', 'Alan Walker', 'Ed Sheeran', 'Passenger', 'Maroon 5', 'Kiddiestv Hindi – Nursery Rhymes & Kids Songs', 'Major Lazer', 'Enrique Iglesias']

In [18]:
view = []
try:
    views = d1.find_elements(By.XPATH,'//div[@class="mw-parser-output"]/table[2]/tbody/tr/td[4]')
    for i in views:
        view.append(i.text)
except NoSuchElementException as e :   #the element is not found
    print(e)
    view.append("-")

In [19]:
print(view)

['12.85', '8.16', '6.70', '6.20', '6.00', '5.89', '5.30', '5.24', '4.92', '4.89', '4.80', '4.55', '4.35', '3.91', '3.87', '3.80', '3.79', '3.66', '3.64', '3.60', '3.59', '3.52', '3.48', '3.45', '3.45', '3.44', '3.42', '3.41', '3.38', '3.38']

In [22]:
publication = []
try:
    publications = d1.find_elements(By.XPATH,'//div[@class="mw-parser-output"]/table[2]/tbody/tr/td[5]')
    for i in publications:
        publication.append(i.text)
except NoSuchElementException as e :   #the element is not found
    print(e)
    publication.append("-")

In [23]:
print(publication)

['June 17, 2016', 'January 12, 2017', 'October 8, 2016', 'May 2, 2018', 'January 30, 2017', 'April 6, 2015', 'March 6, 2014', 'May 24, 2018', 'November 19, 2014', 'February 27, 2018', 'July 15, 2012', 'January 31, 2012', 'April 5, 2018', 'June 16, 2009', 'January 14, 2015', 'September 5, 2013', 'May 31, 2013', 'October 22, 2015', 'June 25, 2018', 'October 7, 2014', 'June 4, 2010', 'February 20, 2014', 'June 14, 2018', 'December 3, 2015', 'November 9, 2017', 'July 25, 2012', 'May 31, 2018', 'January 26, 2018', 'March 22, 2015', 'April 11, 2014']

### most viewed videos on YouTube from Wikipedia

In [24]:
df = pd.DataFrame({"Rank":rank, "Name":name, "Artist":uploader,"upload Date":publication, "Views":view})
df

,Rank,Name,Artist,upload Date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.85
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.16
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.70
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",6.20
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",6.00
5,6.,"""See You Again""[19]",Wiz Khalifa,"April 6, 2015",5.89
6,7.,"""Phonics Song with Two Words""[24]",ChuChu TV,"March 6, 2014",5.30
7,8.,"""Wheels on the Bus""[25]",Cocomelon – Nursery Rhymes,"May 24, 2018",5.24
8,9.,"""Uptown Funk""[26]",Mark Ronson,"November 19, 2014",4.92
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[27]",Miroshka TV,"February 27, 2018",4.89
10,11.,"""Gangnam Style""[28]",Psy,"July 15, 2012",4.80
11,12.,"""Masha and the Bear – Recipe for Disaster""[33]",Get Movies,"January 31, 2012",4.55
12,13.,"""Dame Tu Cosita""[34]",El Chombo,"April 5, 2018",4.35
13,14.,"""Axel F""[35]",Crazy Frog,"June 16, 2009",3.91
14,15.,"""Sugar""[36]",Maroon 5,"January 14, 2015",3.87
15,16.,"""Roar""[37]",Katy Perry,"September 5, 2013",3.80
16,17.,"""Counting Stars""[38]",OneRepublic,"May 31, 2013",3.79
17,18.,"""Sorry""[39]",Justin Bieber,"October 22, 2015",3.66
18,19.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.64
19,20.,"""Thinking Out Loud""[41]",Ed Sheeran,"October 7, 2014",3.60
20,21.,"""Waka Waka (This Time for Africa)""[42]",Shakira,"June 4, 2010",3.59
21,22.,"""Dark Horse""[43]",Katy Perry,"February 20, 2014",3.52
22,23.,"""Lakdi Ki Kathi""[44]",Jingle Toons,"June 14, 2018",3.48
23,24.,"""Faded""[45]",Alan Walker,"December 3, 2015",3.45
24,25.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.45
25,26.,"""Let Her Go""[47]",Passenger,"July 25, 2012",3.44
26,27.,"""Girls Like You""[48]",Maroon 5,"May 31, 2018",3.42
27,28.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.41
28,29.,"""Lean On""[50]",Major Lazer,"March 22, 2015",3.38
29,30.,"""Bailando""[51]",Enrique Iglesias,"April 11, 2014",3.38

In [25]:
d1.close()

## Q2

Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time

In [26]:
d2 = webdriver.Chrome(r'chromedriver.exe')

In [27]:
p2 = d2.get("https://www.bcci.tv/")

In [28]:
menu = d2.find_element(By.XPATH,'//button[@class="navbar-toggler menu-btn menu-icon collapsed"]')
menu.click()

In [29]:
international = d2.find_element(By.XPATH,'//div[@class="navbar-collapse collapse show"]/ul/li[2]')
international.click()

In [30]:
odi = d2.find_element(By.XPATH,'//div[@class="row"]/div[3]/div/div[2]/div[3]')
odi.click()

In [31]:
ind = d2.find_element(By.XPATH,'//div[@class="row"]/div[4]/div/div/div[3]')
ind.click()

In [37]:
series = []

In [40]:
try:
    series1 = d2.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
    for i in series1:
        series.append(i.text)
except StaleElementReferenceException as e:
    print("The erroe is ",e)
    print("No matches available ")
    series.append("-")

In [41]:
print(series)

['INDIA TOUR OF WEST INDIES 2023', 'INDIA TOUR OF WEST INDIES 2023', 'INDIA TOUR OF WEST INDIES 2023']

In [93]:
title = []

In [94]:
try:
    titles = d2.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
    for i in titles:
        title.append((i.text).split("-")[0])
except StaleElementReferenceException as e:
    print("The erroe is ",e)
    print("No matches available ")
    title.append("-")

In [95]:
title

['1st ODI ', '2nd ODI ', '3rd ODI ']

In [101]:
place = []

In [102]:
try:
    places = d2.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
    for i in places:
        place.append((i.text).split("-")[1])
except StaleElementReferenceException as e:
    print("The erroe is ",e)
    print("No matches available ")
    place.append("-")

In [103]:
print(place)

[' Kensington Oval, Barbados', ' Kensington Oval, Barbados', ' Brian Lara Stadium, Trinidad']

In [115]:
date = []

In [116]:
try:
    dt = d2.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
    for i in dt:
        date.append(i.text)
except StaleElementReferenceException as e:
    print("The erroe is ",e)
    print("No matches available ")
    date.append("-")

In [117]:
date

['27 JUL 2023', '29 JUL 2023', '1 AUG 2023']

In [118]:
time = []

In [119]:
try:
    tm = d2.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
    for i in tm:
        time.append(i.text)
except StaleElementReferenceException as e:
    print("The erroe is ",e)
    print("No matches available ")
    time.append("-")

In [120]:
print(time)

['7:00 PM IST', '7:00 PM IST', '7:00 PM IST']

In [125]:
match = pd.DataFrame({"Match Title": title ,"Series":series ,"Place":place, "Date":date,"Time":time})
match

,Match Title,Series,Place,Date,Time
0,1st ODI,INDIA TOUR OF WEST INDIES 2023,"Kensington Oval, Barbados",27 JUL 2023,7:00 PM IST
1,2nd ODI,INDIA TOUR OF WEST INDIES 2023,"Kensington Oval, Barbados",29 JUL 2023,7:00 PM IST
2,3rd ODI,INDIA TOUR OF WEST INDIES 2023,"Brian Lara Stadium, Trinidad",1 AUG 2023,7:00 PM IST

In [129]:
d2.close()

## Q3

Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP(18-19)- at current prices

D) GSDP(19-20)- at current prices

E) Share(18-19)

F) GDP($ billion)

In [2]:
d3 = webdriver.Chrome(r'chremedriver.exe')

In [3]:
p3 = d3.get("http://statisticstimes.com/")

In [27]:
try:
    eco = d3.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
    eco.click()
    ind = d3.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
    a = ind.get_attribute("href")
    print("link : ", a)
    d3.get(a)
except ElementNotInteractableException as e:
    print(e)
    ind = d3.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
    a = ind.get_attribute("href")
    print(a)

link :  https://www.statisticstimes.com/economy/india-statistics.php

In [28]:
state_gdp = d3.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
state_gdp.click()

In [29]:
rank = []

In [30]:
try:
    rnk = d3.find_elements(By.XPATH,'//*[@id="main"]/div[5]/div[1]/div/table/tbody/tr/td[1]')
    for i in rnk:
        rank.append(i.text)
except NoSuchElementException as e:
    rank.append("-")

In [31]:
print(rank)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33']

In [32]:
state = []

In [35]:
try:
    st = d3.find_elements(By.XPATH,'//*[@id="main"]/div[5]/div[1]/div/table/tbody/tr/td[2]')
    for i in st:
        state.append(i.text)
except NoSuchElementException as e:
    state.append("-")

In [36]:
print(state)

['Maharashtra', 'Tamil Nadu', 'Uttar Pradesh', 'Gujarat', 'Karnataka', 'West Bengal', 'Rajasthan', 'Andhra Pradesh', 'Telangana', 'Madhya Pradesh', 'Kerala', 'Delhi', 'Haryana', 'Bihar', 'Punjab', 'Odisha', 'Assam', 'Chhattisgarh', 'Jharkhand', 'Uttarakhand', 'Jammu & Kashmir', 'Himachal Pradesh', 'Goa', 'Tripura', 'Chandigarh', 'Puducherry', 'Meghalaya', 'Sikkim', 'Manipur', 'Nagaland', 'Arunachal Pradesh', 'Mizoram', 'Andaman & Nicobar Islands']

In [37]:
gsd18_19 =[]

In [39]:
try:
    gd1 = d3.find_elements(By.XPATH,'//*[@id="main"]/div[5]/div[1]/div/table/tbody/tr/td[3]')
    for i in gd1:
        gsd18_19.append(i.text)
except NoSuchElementException as e:
    gsd18_19.append("-")

In [40]:
print(gsd18_19)

['-', '1,845,853', '1,687,818', '-', '1,631,977', '1,253,832', '1,020,989', '972,782', '969,604', '906,672', '-', '856,112', '831,610', '611,804', '574,760', '521,275', '-', '329,180', '328,598', '-', '-', '165,472', '80,449', '55,984', '-', '38,253', '36,572', '32,496', '31,790', '-', '-', '26,503', '-']

In [41]:
gsd19_20 = []

In [42]:
try:
    gd2 = d3.find_elements(By.XPATH,'//*[@id="main"]/div[5]/div[1]/div/table/tbody/tr/td[4]')
    for i in gd2:
        gsd19_20.append(i.text)
except NoSuchElementException as e:
    gsd19_20.append("-")

In [43]:
print(gsd19_20)

['2,632,792', '1,630,208', '1,584,764', '1,502,899', '1,493,127', '1,089,898', '942,586', '862,957', '861,031', '809,592', '781,653', '774,870', '734,163', '530,363', '526,376', '487,805', '315,881', '304,063', '297,204', '245,895', '155,956', '153,845', '73,170', '49,845', '42,114', '34,433', '33,481', '28,723', '27,870', '27,283', '24,603', '22,287', '-']

In [44]:
share = []

In [45]:
try:
    sh = d3.find_elements(By.XPATH,'//*[@id="main"]/div[5]/div[1]/div/table/tbody/tr/td[5]')
    for i in sh:
        share.append(i.text)
except NoSuchElementException as e:
    share.append("-")

In [46]:
print(share)

['13.94%', '8.63%', '8.39%', '7.96%', '7.91%', '5.77%', '4.99%', '4.57%', '4.56%', '4.29%', '4.14%', '4.10%', '3.89%', '2.81%', '2.79%', '2.58%', '1.67%', '1.61%', '1.57%', '1.30%', '0.83%', '0.81%', '0.39%', '0.26%', '0.22%', '0.18%', '0.18%', '0.15%', '0.15%', '0.14%', '0.13%', '0.12%', '-']

In [47]:
gdp = []

In [48]:
try:
    good = d3.find_elements(By.XPATH,'//*[@id="main"]/div[5]/div[1]/div/table/tbody/tr/td[6]')
    for i in good:
        gdp.append(i.text)
except NoSuchElementException as e:
    gdp.append("-")

In [49]:
print(gdp)

['399.921', '247.629', '240.726', '228.290', '226.806', '165.556', '143.179', '131.083', '130.791', '122.977', '118.733', '117.703', '111.519', '80.562', '79.957', '74.098', '47.982', '46.187', '45.145', '37.351', '23.690', '23.369', '11.115', '7.571', '6.397', '5.230', '5.086', '4.363', '4.233', '4.144', '3.737', '3.385', '-']

In [50]:
data = pd.DataFrame({"Rank":rank, "State":state, "GSDP(18-19)- at current prices":gsd18_19, "GSDP(19-20)- at current prices":gsd19_20, "Share(18-19)":share, "GDP($ billion)":gdp})
data

,Rank,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [51]:
d3.close()

## Q4

Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

In [87]:
d4 = webdriver.Chrome(r'chromedriver.exe')

In [88]:
p4 = d4.get("https://github.com/")

In [ ]:
#open_source = d4.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]')
#open_source.click()
#time.sleep(2)
#trending = d4.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
#trending.click()

In [89]:
#or we can use this code too
try:
    open_source = d4.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]')
    open_source.click()
    time.sleep(2)
    trending = d4.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
    links = trending.get_attribute("href")
    print(links)
    d4.get(links)
except NoSuchElementException as e:
    print(e)

https://github.com/trending

In [90]:
title = []

In [91]:
try:
    titles = d4.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
    for i in titles:
        title.append(i.text)
except NoSuchElementException as e:
    print(e)

In [92]:
print(title)

['Stability-AI / generative-models', 'sveltejs / svelte', 'ykdojo / kaguya', 'chat2db / Chat2DB', 'a16z-infra / ai-getting-started', 'techleadhd / chatgpt-retrieval', 'prisma / prisma', 'sindresorhus / awesome', 'scikit-learn / scikit-learn', 'codecrafters-io / build-your-own-x', 'refinedev / refine', 'google / googletest', 'geohot / tinygrad', 'CASIA-IVA-Lab / FastSAM', 'unifyai / ivy', 'coollabsio / coolify', 'Linen-dev / linen.dev', 'eslint / eslint', 'terraform-aws-modules / terraform-aws-eks', 'MustardChef / WSABuilds', 'joamag / boytacean', 'angular / angular', 'sveltejs / kit', 'ventoy / Ventoy', 'sebastianbergmann / phpunit']

In [93]:
urls = []

In [94]:
try:
    url = d4.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
    for i in url:
        urls.append(i.get_attribute("href"))
except NoSuchElementException as e:
    urls.append("-")

In [95]:
print(urls)

['https://github.com/Stability-AI/generative-models', 'https://github.com/sveltejs/svelte', 'https://github.com/ykdojo/kaguya', 'https://github.com/chat2db/Chat2DB', 'https://github.com/a16z-infra/ai-getting-started', 'https://github.com/techleadhd/chatgpt-retrieval', 'https://github.com/prisma/prisma', 'https://github.com/sindresorhus/awesome', 'https://github.com/scikit-learn/scikit-learn', 'https://github.com/codecrafters-io/build-your-own-x', 'https://github.com/refinedev/refine', 'https://github.com/google/googletest', 'https://github.com/geohot/tinygrad', 'https://github.com/CASIA-IVA-Lab/FastSAM', 'https://github.com/unifyai/ivy', 'https://github.com/coollabsio/coolify', 'https://github.com/Linen-dev/linen.dev', 'https://github.com/eslint/eslint', 'https://github.com/terraform-aws-modules/terraform-aws-eks', 'https://github.com/MustardChef/WSABuilds', 'https://github.com/joamag/boytacean', 'https://github.com/angular/angular', 'https://github.com/sveltejs/kit', 'https://github.com/ventoy/Ventoy', 'https://github.com/sebastianbergmann/phpunit']

In [103]:
contribute = [] #//div[@class="BorderGrid BorderGrid--spacious"]/div[4]/div/h2/a/span
# //a[@class="Link--primary no-underline d-flex flex-items-center"]/span

In [104]:
for i in urls:
    d4.get(i)
    time.sleep(4)
    try:
        cont = d4.find_element(By.XPATH,'//div[@class="BorderGrid BorderGrid--spacious"]/div[4]/div/h2/a/span')
        contribute.append(cont.text)
    except NoSuchElementException as e :
        contribute.append("-")

In [98]:
#contribute1 = []
#for i in urls:
#    d4.get(i)
#    time.sleep(4)
#    try:
#       cont1 = d4.find_element(By.XPATH,'//a[@class="Link--primary no-underline d-flex flex-items-center"]/span')
#        contribute1.append(cont1.text)
#    except NoSuchElementException as e :
#        contribute1.append("-")

In [106]:
print(contribute)

['5', '', '3', '7', '-', '-', '210', '565', '', '2', '1.5k', '399', '17', '-', '', '25.8k', '-', '', '', '', '-', '2.9m', '72.9k', '', '427']

In [78]:
discp = []

In [79]:
for i in urls:
    d4.get(i)
    time.sleep(4)
    try:
        dsp = d4.find_element(By.XPATH,'//p[@class="f4 my-3"]')
        discp.append(dsp.text)
    except NoSuchElementException as e :
        discp.append("-")

In [105]:
print(discp)

['Generative Models by Stability AI', 'Cybernetically enhanced web apps', 'A ChatGPT plugin that allows you to load and edit your local files in a controlled way, as well as run any Python, JavaScript, and bash script.', '🔥 🔥 🔥 An intelligent and versatile general-purpose SQL client and reporting tool for databases which integrates ChatGPT capabilities.(智能的通用数据库SQL客户端和报表工具)', 'A Javascript AI getting started stack for weekend projects, including image/text models, vector stores, auth, and deployment configs', '-', 'Next-generation ORM for Node.js & TypeScript | PostgreSQL, MySQL, MariaDB, SQL Server, SQLite, MongoDB and CockroachDB', '😎 Awesome lists about all kinds of interesting topics', 'scikit-learn: machine learning in Python', 'Master programming by recreating your favorite technologies from scratch.', 'Build your React-based CRUD applications, without constraints. 🌟 Star to support our work!', 'GoogleTest - Google Testing and Mocking Framework', 'You like pytorch? You like micrograd? You love tinygrad! ❤️', 'Fast Segment Anything', 'Unified AI', 'An open-source & self-hostable Heroku / Netlify alternative.', 'Lightweight Google-searchable Slack alternative for Communities', 'Find and fix problems in your JavaScript code.', 'Terraform module to create an Elastic Kubernetes (EKS) cluster and associated resources 🇺🇦', 'Run Windows Subsystem For Android on your Windows 10 and Windows 11 PC using prebuilt binaries with Google Play Store (OpenGApps/ MindTheGapps) and/or Magisk or KernelSU (root solutions) built in.', 'A GB emulator that is written in Rust 🦀!', 'The modern web developer’s platform', 'web development, streamlined', 'A new bootable USB solution.', 'The PHP Unit Testing framework.']

In [112]:
language = []

In [114]:
for i in urls:
    d4.get(i)
    time.sleep(4)
    try:
        lng = d4.find_element(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]')
        language.append(lng.text)
    except NoSuchElementException as e :
        language.append("-")

In [117]:
print(language)

['Python', 'JavaScript', 'JavaScript', 'Java', 'TypeScript', 'Python', 'TypeScript', '-', 'Python', '-', 'TypeScript', 'C++', 'Python', 'Python', 'Python', 'PHP', 'TypeScript', 'JavaScript', 'HCL', 'Shell', 'Rust', 'TypeScript', 'JavaScript', 'C', 'PHP']

In [116]:
data_ = pd.DataFrame({"Repository title":title, "Repository description":discp, "Contributors count":contribute, "Language Used":language})
data_

,Repository title,Repository description,Contributors count,Language Used
0,Stability-AI / generative-models,Generative Models by Stability AI,5,Python
1,sveltejs / svelte,Cybernetically enhanced web apps,,JavaScript
2,ykdojo / kaguya,A ChatGPT plugin that allows you to load and e...,3,JavaScript
3,chat2db / Chat2DB,🔥 🔥 🔥 An intelligent and versatile general-pur...,7,Java
4,a16z-infra / ai-getting-started,A Javascript AI getting started stack for week...,-,TypeScript
5,techleadhd / chatgpt-retrieval,-,-,Python
6,prisma / prisma,Next-generation ORM for Node.js & TypeScript |...,210,TypeScript
7,sindresorhus / awesome,😎 Awesome lists about all kinds of interesting...,565,-
8,scikit-learn / scikit-learn,scikit-learn: machine learning in Python,,Python
9,codecrafters-io / build-your-own-x,Master programming by recreating your favorite...,2,-
10,refinedev / refine,"Build your React-based CRUD applications, with...",1.5k,TypeScript
11,google / googletest,GoogleTest - Google Testing and Mocking Framework,399,C++
12,geohot / tinygrad,You like pytorch? You like micrograd? You love...,17,Python
13,CASIA-IVA-Lab / FastSAM,Fast Segment Anything,-,Python
14,unifyai / ivy,Unified AI,,Python
15,coollabsio / coolify,An open-source & self-hostable Heroku / Netlif...,25.8k,PHP
16,Linen-dev / linen.dev,Lightweight Google-searchable Slack alternativ...,-,TypeScript
17,eslint / eslint,Find and fix problems in your JavaScript code.,,JavaScript
18,terraform-aws-modules / terraform-aws-eks,Terraform module to create an Elastic Kubernet...,,HCL
19,MustardChef / WSABuilds,Run Windows Subsystem For Android on your Wind...,,Shell
20,joamag / boytacean,A GB emulator that is written in Rust 🦀!,-,Rust
21,angular / angular,The modern web developer’s platform,2.9m,TypeScript
22,sveltejs / kit,"web development, streamlined",72.9k,JavaScript
23,ventoy / Ventoy,A new bootable USB solution.,,C
24,sebastianbergmann / phpunit,The PHP Unit Testing framework.,427,PHP

In [125]:
d4.close()

## Q5

Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

In [2]:
d5 = webdriver.Chrome(r'chromedriver.exe')

In [3]:
p5 = d5.get("http://www.billboard.com/")

In [4]:
chart = d5.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
chart.click()

In [5]:
view_chart = d5.find_element(By.XPATH,'//div[@class="lrv-u-flex lrv-u-justify-content-center"]')
view_chart.click()

In [7]:
a_name = []
try:
    name = d5.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul[1]/li[1]/span')
    for i in name:
        a_name.append(i.text)
except NoSuchElementException :
    a_name.append("-")

In [8]:
print(a_name)

['Morgan Wallen', 'Miley Cyrus', 'Luke Combs', 'Rema & Selena Gomez', 'Lil Durk Featuring J. Cole', 'Toosii', 'SZA', 'Metro Boomin, The Weeknd & 21 Savage', 'Taylor Swift Featuring Ice Spice', 'Eslabon Armado X Peso Pluma', 'Miguel', 'Taylor Swift', 'The Weeknd & Ariana Grande', 'Zach Bryan', 'SZA', 'Yng Lvcas x Peso Pluma', 'Bad Bunny', 'Grupo Frontera X Bad Bunny', 'Jelly Roll', 'Drake', 'Morgan Wallen', 'Morgan Wallen', 'Post Malone', 'Fifty Fifty', 'Bailey Zimmerman', 'Ed Sheeran', 'PinkPantheress & Ice Spice', 'Jordan Davis', 'Latto Featuring Cardi B', 'Morgan Wallen', 'David Guetta & Bebe Rexha', 'Dua Lipa', 'Kali', 'Tyler Hubbard', 'Morgan Wallen', 'Old Dominion', 'Bizarrap & Peso Pluma', 'Megan Moroney', 'Taylor Swift', 'Fuerza Regida', 'Lil Durk Featuring Morgan Wallen', 'Bailey Zimmerman', 'Noah Kahan', 'Chris Brown', 'Coi Leray', 'Metro Boomin, Swae Lee & NAV Featuring A Boogie Wit da Hoodie', 'Metro Boomin, Swae Lee, Lil Wayne & Offset', 'BTS', 'Luke Combs', 'Kane Brown With Katelyn Brown', 'Metro Boomin, A$AP Rocky & Roisee', 'Ice Spice & Nicki Minaj', 'Peso Pluma', 'Metro Boomin & Coi Leray', 'Scotty McCreery', 'David Kushner', 'Peso Pluma X Natanael Cano', 'Peso Pluma', 'Post Malone', 'Doechii Featuring Kodak Black', 'Tyler, The Creator Featuring Kali Uchis', 'Karol G x Shakira', 'Junior H x Peso Pluma', 'Kane Brown', 'Jonas Brothers', 'Justin Moore & Priscilla Block', 'Jon Pardi', 'El Alfa x Peso Pluma', 'Morgan Wallen Featuring ERNEST', 'Coco Jones', 'David Guetta, Anne-Marie & Coi Leray', 'The Weeknd, Playboi Carti & Madonna', 'NLE Choppa', 'Young Nudy Featuring 21 Savage', 'Beyonce Featuring Kendrick Lamar', 'Rod Wave', 'Morgan Wallen', 'DaBaby', 'Becky G & Peso Pluma', 'Libianca', 'Gunna', 'P!nk', 'Yahritza y Su Esencia x Grupo Frontera', 'Taylor Swift', 'Miley Cyrus', 'Sexyy Red & Tay Keith & Nicki Minaj', 'Lil Baby', 'Moneybagg Yo', 'HARDY', 'Kali Uchis', 'Metro Boomin, Travis Scott & Young Thug', 'Metro Boomin, Future & Lil Uzi Vert', 'Baby Keem & Kendrick Lamar', 'Chino Pacas', 'Metro Boomin Featuring Don Toliver & Future', 'Jelly Roll With Lainey Wilson', 'Yandel & Feid', 'Rosalia & Rauw Alejandro', 'Morgan Wallen', 'Metro Boomin & James Blake']

In [9]:
last = []
try:
    lw = d5.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul[1]/li[4]')
    for i in lw:
        last.append(i.text)
except NoSuchElementException:
    last.append("-")

In [10]:
print(last)

['1', '2', '4', '3', '5', '7', '6', '9', '10', '8', '12', '11', '14', '15', '19', '23', '16', '17', '20', '18', '22', '24', '25', '21', '27', '33', '26', '38', '13', '32', '29', '35', '37', '36', '30', '42', '31', '45', '47', '34', '28', '50', '-', '46', '39', '41', '44', '-', '52', '40', '51', '53', '54', '62', '49', '56', '55', '57', '58', '73', '60', '63', '64', '77', '74', '72', '80', '-', '76', '75', '82', '43', '67', '92', '66', '81', '83', '85', '78', '91', '48', '100', '88', '65', '98', '68', '89', '69', '-', '97', '96', '61', '-', '93', '-', '86', '-', '94', '-', '90']

In [11]:
peak = []
try:
    pk = d5.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul[1]/li[5]')
    for m in pk:
        peak.append(m.text)
except NoSuchElementException :
    peak.append("-")

In [12]:
print(peak)

['1', '1', '3', '3', '2', '5', '1', '3', '2', '4', '11', '1', '1', '10', '15', '11', '8', '5', '19', '2', '5', '9', '13', '17', '10', '19', '3', '28', '13', '7', '4', '32', '33', '23', '10', '36', '31', '30', '29', '34', '22', '40', '43', '12', '9', '41', '44', '48', '15', '13', '51', '4', '53', '54', '49', '47', '33', '28', '36', '60', '44', '7', '55', '64', '57', '66', '67', '68', '40', '63', '71', '43', '28', '74', '38', '16', '11', '69', '55', '80', '48', '82', '69', '27', '56', '66', '50', '69', '89', '80', '42', '61', '93', '58', '22', '86', '71', '52', '18', '90']

In [13]:
wob = []
try:
    w = d5.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul[1]/li[6]')
    for n in w:
        wob.append(n.text)
except NoSuchElementException :
    wob.append("-")

In [14]:
print(wob)

['20', '22', '12', '41', '5', '17', '27', '28', '14', '13', '46', '34', '46', '60', '27', '13', '4', '9', '11', '10', '57', '15', '9', '13', '53', '12', '19', '21', '2', '44', '42', '3', '6', '17', '28', '11', '2', '27', '6', '4', '3', '6', '1', '40', '24', '2', '2', '1', '18', '40', '2', '9', '3', '2', '9', '9', '18', '14', '4', '6', '9', '16', '10', '5', '7', '6', '5', '1', '15', '13', '4', '2', '13', '2', '5', '11', '15', '6', '9', '7', '2', '3', '8', '3', '5', '3', '13', '2', '1', '10', '19', '2', '1', '13', '13', '2', '17', '12', '19', '2']

In [15]:
songs = []
try:
    sng = d5.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul[1]/li[1]/h3')
    for s in sng:
        songs.append(s.text)
except NoSuchElementException :
    songs.append("-")

In [16]:
print(songs)

['Last Night', 'Flowers', 'Fast Car', 'Calm Down', 'All My Life', 'Favorite Song', 'Kill Bill', "Creepin'", 'Karma', 'Ella Baila Sola', 'Sure Thing', 'Anti-Hero', 'Die For You', 'Something In The Orange', 'Snooze', 'La Bebe', 'Where She Goes', 'Un x100to', 'Need A Favor', 'Search & Rescue', 'You Proof', "Thinkin' Bout Me", 'Chemical', 'Cupid', 'Rock And A Hard Place', 'Eyes Closed', "Boy's A Liar, Pt. 2", 'Next Thing You Know', 'Put It On Da Floor Again', 'Thought You Should Know', "I'm Good (Blue)", 'Dance The Night', 'Area Codes', "Dancin' In The Country", 'One Thing At A Time', 'Memory Lane', 'Bzrp Music Sessions, Vol. 55', 'Tennessee Orange', 'Cruel Summer', 'TQM', 'Stand By Me', 'Religiously', 'Dial Drunk', 'Under The Influence', 'Players', 'Calling', 'Annihilate', 'Take Two', 'Love You Anyway', 'Thank God', 'Am I Dreaming', 'Princess Diana', 'Bye', 'Self Love', 'It Matters To Her', 'Daylight', 'PRC', 'Por Las Noches', 'Mourning', 'What It Is (Block Boy)', 'See You Again', 'TQG', 'El Azul', 'Bury Me In Georgia', 'Waffle House', 'You, Me, & Whiskey', 'Your Heart Or Mine', 'Plebada', 'Cowgirls', 'ICU', "Baby Don't Hurt Me", 'Popular', 'Slut Me Out', 'Peaches & Eggplants', 'America Has A Problem', 'Fight The Feeling', "Ain't That Some", 'Shake Sumn', 'Chanel', 'People', 'Bread & Butter', 'Trustfall', 'Fragil', 'Hits Different', 'Jaded', 'Pound Town 2', 'Low Down', 'Ocean Spray', 'Truck Bed', 'Moonlight', 'Trance', 'All The Way Live', 'The Hillbillies', 'El Gordo Trae El Mando', 'Too Many Nights', 'Save Me', 'Yandel 150', 'Beso', 'I Wrote The Book', 'Hummingbird']

In [18]:
billboard = pd.DataFrame({"Song Name":songs, "Artist Name": a_name, "Last Week Rank":last, "Peak Rank":peak, "Weeks on board":wob})
billboard

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on board
0,Last Night,Morgan Wallen,1,1,20
1,Flowers,Miley Cyrus,2,1,22
2,Fast Car,Luke Combs,4,3,12
3,Calm Down,Rema & Selena Gomez,3,3,41
4,All My Life,Lil Durk Featuring J. Cole,5,2,5
...,...,...,...,...,...
95,Save Me,Jelly Roll With Lainey Wilson,86,86,2
96,Yandel 150,Yandel & Feid,-,71,17
97,Beso,Rosalia & Rauw Alejandro,94,52,12
98,I Wrote The Book,Morgan Wallen,-,18,19
99,Hummingbird,Metro Boomin & James Blake,90,90,2

In [19]:
d5.close()

## Q6

Scrape the details of Highest sellingnovels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare
You have to find the following details:
    
A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [20]:
d6 = webdriver.Chrome(r'chromedriver.exe')

In [21]:
p6 = d6.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
p6

In [22]:
b_rank = []
try :
    rnk = d6.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[1]')
    for i in rnk:
        b_rank.append(i.text)
except NoSuchElementException :
    b_rank.append("-")

In [23]:
print(b_rank)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', '100']

In [24]:
b_title = []
try :
    b_t = d6.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[2]')
    for i in b_t:
        b_title.append(i.text)
except NoSuchElementException :
    b_title.append("-")

In [25]:
print(b_title)

['Da Vinci Code,The', 'Harry Potter and the Deathly Hallows', "Harry Potter and the Philosopher's Stone", 'Harry Potter and the Order of the Phoenix', 'Fifty Shades of Grey', 'Harry Potter and the Goblet of Fire', 'Harry Potter and the Chamber of Secrets', 'Harry Potter and the Prisoner of Azkaban', 'Angels and Demons', "Harry Potter and the Half-blood Prince:Children's Edition", 'Fifty Shades Darker', 'Twilight', 'Girl with the Dragon Tattoo,The:Millennium Trilogy', 'Fifty Shades Freed', 'Lost Symbol,The', 'New Moon', 'Deception Point', 'Eclipse', 'Lovely Bones,The', 'Curious Incident of the Dog in the Night-time,The', 'Digital Fortress', 'Short History of Nearly Everything,A', 'Girl Who Played with Fire,The:Millennium Trilogy', 'Breaking Dawn', 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar', 'Gruffalo,The', "Jamie's 30-Minute Meals", 'Kite Runner,The', 'One Day', 'Thousand Splendid Suns,A', "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy", "Time Traveler's Wife,The", 'Atonement', "Bridget Jones's Diary:A Novel", 'World According to Clarkson,The', "Captain Corelli's Mandolin", 'Sound of Laughter,The', 'Life of Pi', 'Billy Connolly', 'Child Called It,A', "Gruffalo's Child,The", "Angela's Ashes:A Memoir of a Childhood", 'Birdsong', 'Northern Lights:His Dark Materials S.', 'Labyrinth', 'Harry Potter and the Half-blood Prince', 'Help,The', 'Man and Boy', 'Memoirs of a Geisha', "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.", 'Island,The', 'PS, I Love You', 'You are What You Eat:The Plan That Will Change Your Life', 'Shadow of the Wind,The', 'Tales of Beedle the Bard,The', 'Broker,The', "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P", 'Subtle Knife,The:His Dark Materials S.', 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation', "Delia's How to Cook:(Bk.1)", 'Chocolat', 'Boy in the Striped Pyjamas,The', "My Sister's Keeper", 'Amber Spyglass,The:His Dark Materials S.', 'To Kill a Mockingbird', 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin', 'Dear Fatty', 'Short History of Tractors in Ukrainian,A', 'Hannibal', 'Lord of the Rings,The', 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio', 'Interpretation of Murder,The', 'Sharon Osbourne Extreme:My Autobiography', 'Alchemist,The:A Fable About Following Your Dream', "At My Mother's Knee ...:and Other Low Joints", 'Notes from a Small Island', 'Return of the Naked Chef,The', 'Bridget Jones: The Edge of Reason', "Jamie's Italy", 'I Can Make You Thin', 'Down Under', 'Summons,The', 'Small Island', 'Nigella Express', 'Brick Lane', "Memory Keeper's Daughter,The", 'Room on the Broom', 'About a Boy', 'My Booky Wook', 'God Delusion,The', '"Beano" Annual,The', 'White Teeth', 'House at Riverton,The', 'Book Thief,The', 'Nights of Rain and Stars', 'Ghost,The', 'Happy Days with the Naked Chef', 'Hunger Games,The:Hunger Games Trilogy', "Lost Boy,The:A Foster Child's Search for the Love of a Family", "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [26]:
b_author = []
try :
    b_at = d6.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[3]')
    for i in b_at:
        b_author.append(i.text)
except NoSuchElementException :
    b_author.append("-")

In [27]:
print(b_author)

['Brown, Dan', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'James, E. L.', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'Brown, Dan', 'Rowling, J.K.', 'James, E. L.', 'Meyer, Stephenie', 'Larsson, Stieg', 'James, E. L.', 'Brown, Dan', 'Meyer, Stephenie', 'Brown, Dan', 'Meyer, Stephenie', 'Sebold, Alice', 'Haddon, Mark', 'Brown, Dan', 'Bryson, Bill', 'Larsson, Stieg', 'Meyer, Stephenie', 'Carle, Eric', 'Donaldson, Julia', 'Oliver, Jamie', 'Hosseini, Khaled', 'Nicholls, David', 'Hosseini, Khaled', 'Larsson, Stieg', 'Niffenegger, Audrey', 'McEwan, Ian', 'Fielding, Helen', 'Clarkson, Jeremy', 'Bernieres, Louis de', 'Kay, Peter', 'Martel, Yann', 'Stephenson, Pamela', 'Pelzer, Dave', 'Donaldson, Julia', 'McCourt, Frank', 'Faulks, Sebastian', 'Pullman, Philip', 'Mosse, Kate', 'Rowling, J.K.', 'Stockett, Kathryn', 'Parsons, Tony', 'Golden, Arthur', 'McCall Smith, Alexander', 'Hislop, Victoria', 'Ahern, Cecelia', 'McKeith, Gillian', 'Zafon, Carlos Ruiz', 'Rowling, J.K.', 'Grisham, John', 'Atkins, Robert C.', 'Pullman, Philip', 'Truss, Lynne', 'Smith, Delia', 'Harris, Joanne', 'Boyne, John', 'Picoult, Jodi', 'Pullman, Philip', 'Lee, Harper', 'Gray, John', 'French, Dawn', 'Lewycka, Marina', 'Harris, Thomas', 'Tolkien, J. R. R.', 'Moore, Michael', 'Rubenfeld, Jed', 'Osbourne, Sharon', 'Coelho, Paulo', "O'Grady, Paul", 'Bryson, Bill', 'Oliver, Jamie', 'Fielding, Helen', 'Oliver, Jamie', 'McKenna, Paul', 'Bryson, Bill', 'Grisham, John', 'Levy, Andrea', 'Lawson, Nigella', 'Ali, Monica', 'Edwards, Kim', 'Donaldson, Julia', 'Hornby, Nick', 'Brand, Russell', 'Dawkins, Richard', '0', 'Smith, Zadie', 'Morton, Kate', 'Zusak, Markus', 'Binchy, Maeve', 'Harris, Robert', 'Oliver, Jamie', 'Collins, Suzanne', 'Pelzer, Dave', 'Oliver, Jamie']

In [28]:
b_vol_sell = []
try :
    b_v_s = d6.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[4]')
    for i in b_v_s:
        b_vol_sell.append(i.text)
except NoSuchElementException :
    b_vol_sell.append("-")

In [29]:
print(b_vol_sell)

['5,094,805', '4,475,152', '4,200,654', '4,179,479', '3,758,936', '3,583,215', '3,484,047', '3,377,906', '3,193,946', '2,950,264', '2,479,784', '2,315,405', '2,233,570', '2,193,928', '2,183,031', '2,152,737', '2,062,145', '2,052,876', '2,005,598', '1,979,552', '1,928,900', '1,852,919', '1,814,784', '1,787,118', '1,783,535', '1,781,269', '1,743,266', '1,629,119', '1,616,068', '1,583,992', '1,555,135', '1,546,886', '1,539,428', '1,508,205', '1,489,403', '1,352,318', '1,310,207', '1,310,176', '1,231,957', '1,217,712', '1,208,711', '1,204,058', '1,184,967', '1,181,503', '1,181,093', '1,153,181', '1,132,336', '1,130,802', '1,126,337', '1,115,549', '1,108,328', '1,107,379', '1,104,403', '1,092,349', '1,090,847', '1,087,262', '1,054,196', '1,037,160', '1,023,688', '1,015,956', '1,009,873', '1,004,414', '1,003,780', '1,002,314', '998,213', '992,846', '986,753', '986,115', '970,509', '967,466', '963,353', '962,515', '959,496', '956,114', '945,640', '931,312', '925,425', '924,695', '906,968', '905,086', '890,847', '869,671', '869,659', '862,602', '856,540', '845,858', '842,535', '828,215', '820,563', '816,907', '816,585', '815,586', '814,370', '809,641', '808,900', '807,311', '794,201', '792,187', '791,507', '791,095']

In [30]:
b_publisher = []
try :
    publisher = d6.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[5]')
    for i in publisher:
        b_publisher.append(i.text)
except NoSuchElementException :
    b_publisher.append("-")

In [31]:
print(b_publisher)

['Transworld', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Random House', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Transworld', 'Bloomsbury', 'Random House', 'Little, Brown Book', 'Quercus', 'Random House', 'Transworld', 'Little, Brown Book', 'Transworld', 'Little, Brown Book', 'Pan Macmillan', 'Random House', 'Transworld', 'Transworld', 'Quercus', 'Little, Brown Book', 'Penguin', 'Pan Macmillan', 'Penguin', 'Bloomsbury', 'Hodder & Stoughton', 'Bloomsbury', 'Quercus', 'Random House', 'Random House', 'Pan Macmillan', 'Penguin', 'Random House', 'Random House', 'Canongate', 'HarperCollins', 'Orion', 'Pan Macmillan', 'HarperCollins', 'Random House', 'Scholastic Ltd.', 'Orion', 'Bloomsbury', 'Penguin', 'HarperCollins', 'Random House', 'Little, Brown Book', 'Headline', 'HarperCollins', 'Penguin', 'Orion', 'Bloomsbury', 'Random House', 'Random House', 'Scholastic Ltd.', 'Profile Books Group', 'Random House', 'Transworld', 'Random House Childrens Books G', 'Hodder & Stoughton', 'Scholastic Ltd.', 'Random House', 'HarperCollins', 'Random House', 'Penguin', 'Random House', 'HarperCollins', 'Penguin', 'Headline', 'Little, Brown Book', 'HarperCollins', 'Transworld', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Transworld', 'Transworld', 'Random House', 'Headline', 'Random House', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Hodder & Stoughton', 'Transworld', 'D.C. Thomson', 'Penguin', 'Pan Macmillan', 'Transworld', 'Orion', 'Random House', 'Penguin', 'Scholastic Ltd.', 'Orion', 'Penguin']

In [32]:
b_genre = []
try :
    gnr = d6.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[6]')
    for i in gnr:
        b_genre.append(i.text)
except NoSuchElementException :
    b_genre.append("-")

In [33]:
print(b_genre)

['Crime, Thriller & Adventure', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Romance & Sagas', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Crime, Thriller & Adventure', "Children's Fiction", 'Romance & Sagas', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Romance & Sagas', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Popular Science', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Picture Books', 'Picture Books', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Humour: Collections & General', 'General & Literary Fiction', 'Autobiography: General', 'General & Literary Fiction', 'Biography: The Arts', 'Autobiography: General', 'Picture Books', 'Autobiography: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Science Fiction & Fantasy', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'Fitness & Diet', 'General & Literary Fiction', "Children's Fiction", 'Crime, Thriller & Adventure', 'Fitness & Diet', 'Young Adult Fiction', 'Usage & Writing Guides', 'Food & Drink: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Popular Culture & Media: General Interest', 'Autobiography: The Arts', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Science Fiction & Fantasy', 'Current Affairs & Issues', 'Crime, Thriller & Adventure', 'Autobiography: The Arts', 'General & Literary Fiction', 'Autobiography: The Arts', 'Travel Writing', 'Food & Drink: General', 'General & Literary Fiction', 'National & Regional Cuisine', 'Fitness & Diet', 'Travel Writing', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'Picture Books', 'General & Literary Fiction', 'Autobiography: The Arts', 'Popular Science', "Children's Annuals", 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Food & Drink: General', 'Young Adult Fiction', 'Biography: General', 'Food & Drink: General']

In [36]:
books = pd.DataFrame({"Rank":b_rank, "Book Name":b_title, "Author Name":b_author, "Volumes sold":b_vol_sell, "Publisher":b_publisher, "Genre":b_genre})
books

,Rank,Book Name,Author Name,Volumes sold,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

## Q7

Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/
    
You have to find the following details:
    
A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [38]:
d7 = webdriver.Chrome(r'chromedriver.exe')

In [39]:
p7 = d7.get("https://www.imdb.com/list/ls095964455/")

In [40]:
i_name = []
try:
    nm = d7.find_elements(By.XPATH,'//div[@class="lister-list"]/div/div[2]/h3/a[1]')
    for i in nm:
        i_name.append(i.text)
except NoSuchElementException :
    i_name.append("-")

In [41]:
print(i_name)

['Game of Thrones', 'Stranger Things', 'The Walking Dead', '13 Reasons Why', 'The 100', 'Orange Is the New Black', 'Riverdale', "Grey's Anatomy", 'The Flash', 'Arrow', 'Money Heist', 'The Big Bang Theory', 'Black Mirror', 'Sherlock', 'Vikings', 'Pretty Little Liars', 'The Vampire Diaries', 'American Horror Story', 'Breaking Bad', 'Lucifer', 'Supernatural', 'Prison Break', 'How to Get Away with Murder', 'Teen Wolf', 'The Simpsons', 'Once Upon a Time', 'Narcos', 'Daredevil', 'Friends', 'How I Met Your Mother', 'Suits', 'Mr. Robot', 'The Originals', 'Supergirl', 'Gossip Girl', 'Sense8', 'Gotham', 'Westworld', 'Jessica Jones', 'Modern Family', 'Rick and Morty', 'Shadowhunters', 'The End of the F***ing World', 'House of Cards', 'Dark', 'Elite', 'Sex Education', 'Shameless', 'New Girl', 'Agents of S.H.I.E.L.D.', 'You', 'Dexter', 'Fear the Walking Dead', 'Family Guy', 'The Blacklist', 'Lost', 'Peaky Blinders', 'House', 'Quantico', 'Orphan Black', 'Homeland', 'Blindspot', "DC's Legends of Tomorrow", "The Handmaid's Tale", 'Chilling Adventures of Sabrina', 'The Good Doctor', 'Jane the Virgin', 'Glee', 'South Park', 'Brooklyn Nine-Nine', 'Under the Dome', 'The Umbrella Academy', 'True Detective', 'The OA', 'Desperate Housewives', 'Better Call Saul', 'Bates Motel', 'The Punisher', 'Atypical', 'Dynasty', 'This Is Us', 'The Good Place', 'Iron Fist', 'The Rain', 'Mindhunter', 'Revenge', 'Luke Cage', 'Scandal', 'The Defenders', 'Big Little Lies', 'Insatiable', 'The Mentalist', 'The Crown', 'Chernobyl', 'iZombie', 'Reign', 'A Series of Unfortunate Events', 'Criminal Minds', 'Scream: The TV Series', 'The Haunting of Hill House']

In [42]:
i_year = []
try:
    ys = d7.find_elements(By.XPATH,'//div[@class="lister-list"]/div/div[2]/h3/span[2]')
    for i in ys:
        i_year.append(i.text)
except NoSuchElementException :
    i_year.append("-")

In [43]:
print(i_year)

['(2011–2019)', '(2016–2024)', '(2010–2022)', '(2017–2020)', '(2014–2020)', '(2013–2019)', '(2017–2023)', '(2005– )', '(2014–2023)', '(2012–2020)', '(2017–2021)', '(2007–2019)', '(2011– )', '(2010–2017)', '(2013–2020)', '(2010–2017)', '(2009–2017)', '(2011– )', '(2008–2013)', '(2016–2021)', '(2005–2020)', '(2005–2017)', '(2014–2020)', '(2011–2017)', '(1989– )', '(2011–2018)', '(2015–2017)', '(2015–2018)', '(1994–2004)', '(2005–2014)', '(2011–2019)', '(2015–2019)', '(2013–2018)', '(2015–2021)', '(2007–2012)', '(2015–2018)', '(2014–2019)', '(2016–2022)', '(2015–2019)', '(2009–2020)', '(2013– )', '(2016–2019)', '(2017–2019)', '(2013–2018)', '(2017–2020)', '(2018– )', '(2019– )', '(2011–2021)', '(2011–2018)', '(2013–2020)', '(2018–2024)', '(2006–2013)', '(2015–2023)', '(1999– )', '(2013–2023)', '(2004–2010)', '(2013–2022)', '(2004–2012)', '(2015–2018)', '(2013–2017)', '(2011–2020)', '(2015–2020)', '(2016–2022)', '(2017– )', '(2018–2020)', '(2017– )', '(2014–2019)', '(2009–2015)', '(1997– )', '(2013–2021)', '(2013–2015)', '(2019–2023)', '(2014– )', '(2016–2019)', '(2004–2012)', '(2015–2022)', '(2013–2017)', '(2017–2019)', '(2017–2021)', '(2017–2022)', '(2016–2022)', '(2016–2020)', '(2017–2018)', '(2018–2020)', '(2017–2019)', '(2011–2015)', '(2016–2018)', '(2012–2018)', '(2017)', '(2017–2019)', '(2018–2019)', '(2008–2015)', '(2016–2023)', '(2019)', '(2015–2019)', '(2013–2017)', '(2017–2019)', '(2005– )', '(2015–2019)', '(2018)']

In [44]:
i_genre = []
try:
    ig = d7.find_elements(By.XPATH,'//div[@class="lister-list"]/div/div[2]/p[1]/span[5]')
    for i in ig:
        i_genre.append(i.text)
except NoSuchElementException :
    i_genre.append("-")

In [45]:
print(i_genre)

['Action, Adventure, Drama', 'Drama, Fantasy, Horror', 'Drama, Horror, Thriller', 'Drama, Mystery, Thriller', 'Drama, Mystery, Sci-Fi', 'Comedy, Crime, Drama', 'Crime, Drama, Mystery', 'Drama, Romance', 'Action, Adventure, Drama', 'Action, Adventure, Crime', 'Action, Crime, Drama', 'Comedy, Romance', 'Drama, Mystery, Sci-Fi', 'Crime, Drama, Mystery', 'Action, Adventure, Drama', 'Drama, Mystery, Romance', 'Drama, Fantasy, Horror', 'Drama, Horror, Sci-Fi', 'Crime, Drama, Thriller', 'Crime, Drama, Fantasy', 'Drama, Fantasy, Horror', 'Action, Crime, Drama', 'Crime, Drama, Mystery', 'Action, Drama, Fantasy', 'Animation, Comedy', 'Adventure, Fantasy, Romance', 'Biography, Crime, Drama', 'Action, Crime, Drama', 'Comedy, Romance', 'Comedy, Drama, Romance', 'Comedy, Drama', 'Crime, Drama, Thriller', 'Drama, Fantasy, Horror', 'Action, Adventure, Drama', 'Drama, Romance', 'Drama, Mystery, Sci-Fi', 'Action, Crime, Drama', 'Drama, Mystery, Sci-Fi', 'Action, Crime, Drama', 'Comedy, Drama, Romance', 'Animation, Adventure, Comedy', 'Action, Drama, Fantasy', 'Adventure, Comedy, Crime', 'Drama', 'Crime, Drama, Mystery', 'Crime, Drama, Thriller', 'Comedy, Drama', 'Comedy, Drama', 'Comedy, Romance', 'Action, Adventure, Drama', 'Crime, Drama, Romance', 'Crime, Drama, Mystery', 'Drama, Horror, Sci-Fi', 'Animation, Comedy', 'Crime, Drama, Mystery', 'Adventure, Drama, Fantasy', 'Crime, Drama', 'Drama, Mystery', 'Crime, Drama, Mystery', 'Drama, Sci-Fi, Thriller', 'Crime, Drama, Mystery', 'Action, Crime, Drama', 'Action, Adventure, Drama', 'Drama, Sci-Fi, Thriller', 'Drama, Fantasy, Horror', 'Drama', 'Comedy', 'Comedy, Drama, Music', 'Animation, Comedy', 'Comedy, Crime', 'Drama, Mystery, Sci-Fi', 'Action, Adventure, Comedy', 'Crime, Drama, Mystery', 'Drama, Fantasy, Mystery', 'Comedy, Drama, Mystery', 'Crime, Drama', 'Drama, Horror, Mystery', 'Action, Crime, Drama', 'Comedy, Drama', 'Drama', 'Comedy, Drama, Romance', 'Comedy, Drama, Fantasy', 'Action, Adventure, Crime', 'Drama, Sci-Fi, Thriller', 'Crime, Drama, Mystery', 'Drama, Mystery, Thriller', 'Action, Crime, Drama', 'Drama, Thriller', 'Action, Adventure, Crime', 'Crime, Drama, Mystery', 'Comedy, Drama, Thriller', 'Crime, Drama, Mystery', 'Biography, Drama, History', 'Drama, History, Thriller', 'Comedy, Crime, Drama', 'Drama', 'Adventure, Comedy, Drama', 'Crime, Drama, Mystery', 'Comedy, Crime, Drama', 'Drama, Horror, Mystery']

In [46]:
i_runtime = []
try:
    irt = d7.find_elements(By.XPATH,'//div[@class="lister-list"]/div/div[2]/p[1]/span[3]')
    for i in irt:
        i_runtime.append(i.text)
except NoSuchElementException :
    i_runtime.append("-")

In [47]:
print(i_runtime)

['57 min', '51 min', '44 min', '60 min', '43 min', '59 min', '45 min', '41 min', '43 min', '42 min', '70 min', '22 min', '60 min', '88 min', '44 min', '44 min', '43 min', '60 min', '49 min', '42 min', '44 min', '44 min', '43 min', '41 min', '22 min', '60 min', '49 min', '54 min', '22 min', '22 min', '44 min', '49 min', '45 min', '43 min', '42 min', '60 min', '42 min', '62 min', '56 min', '22 min', '23 min', '42 min', '25 min', '51 min', '60 min', '60 min', '45 min', '46 min', '22 min', '45 min', '45 min', '53 min', '44 min', '22 min', '43 min', '44 min', '60 min', '44 min', '42 min', '44 min', '55 min', '42 min', '42 min', '60 min', '60 min', '41 min', '60 min', '44 min', '22 min', '22 min', '43 min', '60 min', '55 min', '60 min', '45 min', '46 min', '45 min', '53 min', '30 min', '42 min', '45 min', '22 min', '55 min', '45 min', '60 min', '44 min', '55 min', '43 min', '50 min', '60 min', '45 min', '43 min', '58 min', '330 min', '42 min', '42 min', '50 min', '42 min', '45 min', '572 min']

In [48]:
i_ratings = []
try:
    i_rate = d7.find_elements(By.XPATH,'//div[@class="lister-list"]/div/div[2]/div[1]/div[1]/span[2]')
    for i in i_rate:
        i_ratings.append(i.text)
except NoSuchElementException :
    i_ratings.append("-")

In [49]:
print(i_ratings)

['9.2', '8.7', '8.1', '7.5', '7.6', '8.1', '6.6', '7.6', '7.5', '7.5', '8.2', '8.2', '8.8', '9.1', '8.5', '7.4', '7.7', '8', '9.5', '8.1', '8.4', '8.3', '8.1', '7.7', '8.7', '7.7', '8.8', '8.6', '8.9', '8.3', '8.4', '8.5', '8.3', '6.2', '7.5', '8.2', '7.8', '8.5', '7.9', '8.5', '9.1', '6.5', '8', '8.7', '8.7', '7.3', '8.3', '8.6', '7.8', '7.5', '7.7', '8.7', '6.8', '8.2', '8', '8.3', '8.8', '8.7', '6.7', '8.3', '8.3', '7.3', '6.8', '8.4', '7.4', '8', '7.9', '6.8', '8.7', '8.4', '6.5', '7.9', '8.9', '7.8', '7.6', '9', '8.1', '8.5', '8.2', '7.3', '8.7', '8.2', '6.4', '6.3', '8.6', '7.8', '7.3', '7.7', '7.2', '8.5', '6.5', '8.2', '8.6', '9.4', '7.8', '7.4', '7.8', '8.1', '7.1', '8.6']

In [50]:
i_votes = []
try:
    i_vt = d7.find_elements(By.XPATH,'//div[@class="lister-list"]/div/div[2]/p[4]/span[2]')
    for i in i_vt:
        i_votes.append(i.text)
except NoSuchElementException :
    i_votes.append("-")

In [51]:
print(i_votes)

['2,172,573', '1,250,568', '1,031,929', '303,425', '262,623', '310,548', '149,435', '323,626', '359,417', '438,613', '498,526', '831,770', '587,034', '954,114', '553,701', '172,479', '332,654', '328,046', '1,991,182', '337,772', '460,660', '553,885', '158,292', '156,476', '419,268', '230,088', '444,343', '454,846', '1,030,598', '702,952', '428,010', '400,142', '141,296', '126,942', '181,650', '158,346', '235,439', '516,837', '220,060', '452,969', '555,572', '66,877', '204,177', '515,917', '411,656', '84,718', '302,528', '257,239', '234,633', '221,165', '280,185', '740,485', '135,914', '351,649', '264,260', '570,176', '585,639', '481,905', '62,413', '113,660', '350,364', '76,544', '107,669', '247,573', '101,379', '103,902', '54,740', '151,962', '389,846', '334,978', '109,401', '259,067', '598,117', '109,063', '133,458', '582,885', '112,127', '248,930', '96,341', '23,822', '150,237', '173,411', '135,266', '39,370', '307,921', '122,327', '135,277', '76,858', '112,120', '211,176', '30,708', '191,692', '231,068', '802,457', '71,245', '51,933', '63,973', '208,463', '43,377', '259,970']

In [52]:
imdb = pd.DataFrame({"Name":i_name, "Year Span":i_year, "Grnre":i_genre, "Runtime":i_runtime, "Ratings":i_ratings, "Vote":i_votes})
imdb

,Name,Year Span,Grnre,Runtime,Ratings,Vote
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,172,573"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,250,568"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,031,929"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"303,425"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"262,623"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,933"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,973"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"208,463"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"43,377"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"259,970"

In [53]:
d7.close()

## Q8

Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

In [2]:
d8 = webdriver.Chrome(r'chromedriver.exe')

In [3]:
p8 = d8.get("https://archive.ics.uci.edu/")

In [4]:
allds = d8.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
allds.click()

In [5]:
ds_url = []
start = 0
end = 62
try:
    for pages in range(start ,end):
        durl = d8.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]/a')
        for i in durl:
            ds_url.append(i.get_attribute("href"))
except NoSuchElementException :
    ds_url.append("-")

In [7]:
len(ds_url)

620

In [8]:
name = []
for i in ds_url:
    d8.get(i)
    time.sleep(2)
    try:
        ds_title = d8.find_element(By.XPATH,'//div[@class="col-span-12 flex flex-col gap-4 md:col-span-9"]/div[1]/div[1]/div[2]/div/h1')
        name.append(ds_title.text)
    except NoSuchElementException :
        name.append("-")

In [9]:
print(name)

['Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom', 'Iris', 'Heart Disease', 'Dry Bean Dataset', 'Adult', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom']

In [10]:
dtypes = []
for i in ds_url:
    d8.get(i)
    time.sleep(2)
    try:
        ds_type = d8.find_element(By.XPATH,'//div[@class="col-span-12 flex flex-col gap-4 md:col-span-9"]/div[1]/div[2]/div[2]/div[1]/p')
        dtypes.append(ds_type.text)
    except NoSuchElementException :
        dtypes.append("-")

In [11]:
print(dtypes)

['Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate']

In [12]:
task = []
for i in ds_url:
    d8.get(i)
    time.sleep(2)
    try:
        ds_task = d8.find_element(By.XPATH,'//div[@class="col-span-12 flex flex-col gap-4 md:col-span-9"]/div[1]/div[2]/div[2]/div[3]/p')
        task.append(ds_task.text)
    except NoSuchElementException :
        task.append("-")

In [13]:
print(task)

['Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification']

In [14]:
attribute = []
for i in ds_url:
    d8.get(i)
    time.sleep(2)
    try:
        ds_attri = d8.find_element(By.XPATH,'//div[@class="col-span-12 flex flex-col gap-4 md:col-span-9"]/div[1]/div[2]/div[2]/div[4]/p')
        attribute.append(ds_attri.text)
    except NoSuchElementException :
        attribute.append("-")

In [15]:
print(attribute)

['Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', '-', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical', 'Real', 'Categorical, Integer, Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical', 'Real', 'Categorical']

In [16]:
instance = []
for i in ds_url:
    d8.get(i)
    time.sleep(2)
    try:
        ds_inst = d8.find_element(By.XPATH,'//div[@class="col-span-12 flex flex-col gap-4 md:col-span-9"]/div[1]/div[2]/div[2]/div[5]/p')
        instance.append(ds_inst.text)
    except NoSuchElementException :
        instance.append("-")

In [17]:
print(instance)

['150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124', '150', '303', '13611', '48842', '-', '3810', '178', '1728', '569', '8124']

In [18]:
no_attribute = []
for i in ds_url:
    d8.get(i)
    time.sleep(2)
    try:
        ds_nature = d8.find_element(By.XPATH,'//div[@class="col-span-12 flex flex-col gap-4 md:col-span-9"]/div[1]/div[2]/div[2]/div[6]/p')
        no_attribute.append(ds_nature.text)
        
    except NoSuchElementException :
        no_attribute.append("-")

In [19]:
print(no_attribute)

['4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22', '4', '13', '17', '14', '20', '8', '13', '6', '30', '22']

In [22]:
year = []
for i in ds_url:
    d8.get(i)
    time.sleep(2)
    try:
        ds_year = d8.find_element(By.XPATH,'//div[@class="col-span-12 flex flex-col gap-4 md:col-span-9"]/div[1]/div[1]/div[2]/h2')
        year.append((ds_year.text).split(" ")[2])
    except NoSuchElementException :
        year.append("-")

In [23]:
print(year)

['6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '-', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987', '6/30/1988', '6/30/1988', '9/13/2020', '4/30/1996', '-', '10/5/2019', '6/30/1991', '5/31/1997', '10/31/1995', '4/26/1987']

In [24]:
print(len(name),len(dtypes),len(task),len(attribute),len(instance),len(no_attribute),len(year))

620 620 620 620 620 620 620

In [25]:
df = pd.DataFrame({"Dataset Name":name, "Data Type":dtypes, "Task":task, "Attribute Type":attribute, "No of Instances":instance, "No of Attribute":no_attribute, "Year":year})
df

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Iris,Multivariate,Classification,Real,150,4,6/30/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,6/30/1988
2,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,17,9/13/2020
3,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,4/30/1996
4,Diabetes,"Multivariate, Time-Series",-,"Categorical, Integer",-,20,-
...,...,...,...,...,...,...,...
615,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,8,10/5/2019
616,Wine,Multivariate,Classification,"Integer, Real",178,13,6/30/1991
617,Car Evaluation,Multivariate,Classification,Categorical,1728,6,5/31/1997
618,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,10/31/1995
619,Mushroom,Multivariate,Classification,Categorical,8124,22,4/26/1987

## Q9

Scrape the details of Data science recruiters 
Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details

A) Name

B) Designation

C)Company

D)Skills they hire for

E) Location

In [38]:
d9 = webdriver.Chrome(r'chromedriver.exe')

In [39]:
p9 = d9.get("https://www.naukri.com/hr-recruiters-consultants")

In [4]:
url = []
urls = d9.find_elements(By.XPATH,'//div[@class="info fleft"]/a')
for i in urls:
    url.append(i.get_attribute("href"))

In [5]:
print(url)

['https://www.naukri.com/job-listings-walk-in-interview-assistant-manager-hr-ics-realty-bangalore-bengaluru-0-to-5-years-211122004923', 'https://www.naukri.com/job-listings-hr-executive-and-recruiter-avils-infra-private-limited-bangalore-bengaluru-0-to-1-years-210623003956', 'https://www.naukri.com/job-listings-hiring-for-fresher-hr-recruiter-recruitment-day-shift-black-and-white-business-solutions-bangalore-bengaluru-0-to-1-years-240623004535', 'https://www.naukri.com/job-listings-hr-fresher-recruiter-day-shift-black-and-white-business-solutions-bangalore-bengaluru-0-to-0-years-240623004532', 'https://www.naukri.com/job-listings-opening-for-management-trainee-executive-hr-sahajanand-medical-technologies-mumbai-all-areas-0-to-2-years-260623002132', 'https://www.naukri.com/job-listings-executive-assistant-manager-hr-generalist-pune-dress-code-oasis-pune-maharashtra-0-to-3-years-190523004916', 'https://www.naukri.com/job-listings-hr-executive-wep-solutions-limited-mysore-mysuru-bangalore-bengaluru-0-to-1-years-220623500895', 'https://www.naukri.com/job-listings-hiring-for-hr-associate-off-role-end-to-end-recruitment-kotak-life-insurance-mumbai-suburban-maharashtra-goregaon-maharashtra-mumbai-all-areas-0-to-2-years-240623004750', 'https://www.naukri.com/job-listings-assistant-manager-hr-field-level-recruitment-muthoot-microfin-bhubaneswar-odisha-hubli-karnataka-sambalpur-odisha-ambala-haryana-belagavi-belgaum-karnataka-0-to-2-years-211222009637', 'https://www.naukri.com/job-listings-hr-executive-caliber-organisation-ahmedabad-0-to-1-years-260623904639', 'https://www.naukri.com/job-listings-hr-human-resources-executive-ask-eva-ask-executive-virtual-assistance-madurai-0-to-2-years-260623501586', 'https://www.naukri.com/job-listings-hr-executive-talent-acquisition-practo-technologies-pvt-ltd-bangalore-bengaluru-0-to-2-years-110623500183', 'https://www.naukri.com/job-listings-hr-manager-assistant-manager-executive-nexus-hr-consultancy-nagpur-pune-aurangabad-0-to-5-years-101222005743', 'https://www.naukri.com/job-listings-hr-executive-able-design-engineering-services-dharwad-karnataka-hubli-karnataka-belagavi-belgaum-karnataka-0-to-3-years-190623002819', 'https://www.naukri.com/job-listings-hr-recruiter-kinara-capital-bangalore-bengaluru-0-to-1-years-220623009081', 'https://www.naukri.com/job-listings-hr-executive-work-from-home-smart-steps-hr-services-new-delhi-0-to-2-years-280122004769', 'https://www.naukri.com/job-listings-hiring-hr-recruiter-for-bangalore-freshers-sal-15k-inc-ignites-human-capital-bangalore-bengaluru-karnataka-0-to-2-years-210623003953', 'https://www.naukri.com/job-listings-hiring-for-hr-recruiter-black-and-white-business-solutions-bangalore-bengaluru-0-to-0-years-220623008426', 'https://www.naukri.com/job-listings-opportunity-for-fresher-for-hr-recruiter-role-black-and-white-business-solutions-bangalore-bengaluru-0-to-1-years-210623007878', 'https://www.naukri.com/job-listings-hiring-for-hr-recruiter-your-pitchh-bangalore-bengaluru-0-to-0-years-190623006002']

In [7]:
name = []
for i in url:
    d9.get(i)
    time.sleep(3)
    try:
        nm = d9.find_element(By.XPATH,'//div[@class="top"]/div[1]/header/h1')
        name.append(nm.text)
    except NoSuchElementException:
        name.append("-")

In [8]:
name

['Walk in Interview - Assistant Manager-HR',
 'Hr Executive And Recruiter',
 'Hiring For Fresher/HR Recruiter/Recruitment/Day Shift',
 'HR fresher / Recruiter / Day shift',
 'Opening For Management Trainee / Executive - HR',
 'Executive/ Assistant Manager HR Generalist - Pune ( Dress Code )',
 'HR Executive',
 'Hiring For HR Associate | Off-Role | End-To-End Recruitment',
 'Assistant Manager - HR (Field Level Recruitment)',
 'HR Executive',
 'HR (Human Resources) Executive',
 'HR Executive - Talent Acquisition',
 'HR Manager/ Assistant manager/Executive',
 'HR Executive',
 'HR Recruiter',
 'HR Executive. (Work from Home)',
 'Hiring Hr Recruiter For bangalore, freshers sal-15k+inc',
 'Hiring For HR Recruiter',
 'Opportunity For Fresher For HR Recruiter Role',
 'Hiring For HR Recruiter']

In [9]:
comp = []
for i in url:
    d9.get(i)
    time.sleep(3)
    try:
        co = d9.find_element(By.XPATH,'//div[@class="top"]/div[1]/div/a')
        comp.append(co.text)
    except NoSuchElementException:
        comp.append("-")

In [10]:
print(comp)

['Ics Realty', 'Avils Automation', 'Black And White Business Solutions', 'Black And White Business Solutions', 'Sahajanand Medical Technologies', 'OASIS', 'WeP Solutions Limited', 'Kotak Life Insurance', 'Muthoot Microfin', 'Caliber Organisation', 'ASK Eva ( Ask Executive Virtual Assistance )', 'Practo', 'Nexus Hr Consultancy', 'Able Design Engineering Services', 'Kinara Capital', 'Smart Steps HR Services', 'Ignites Human Capital', 'Black And White Business Solutions', 'Black And White Business Solutions', 'Your Pitchh']

In [12]:
loc = []
for i in url:
    d9.get(i)
    time.sleep(3)
    try:
        lc = d9.find_element(By.XPATH,'//span[@class="location "]/a')
        loc.append(lc.text)
    except ElementNotIntractableException:
        loc.append("-")

In [16]:
print(loc)

['Bangalore/Bengaluru( Bannerghatta Road, Bannerghatta, BTM Layout )', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru( 1st Stage Indira Nagar, Vijayanagar, Domlur )', 'Mumbai (All Areas)', 'Pune,Maharashtra( Koregaon Park )', 'Mysore/Mysuru', 'Mumbai Suburban,Maharashtra', 'Bhubaneswar,Odisha', 'Ahmedabad', 'Madurai', 'Madurai', 'Nagpur', 'Dharwad,Karnataka', 'Bangalore/Bengaluru', 'New Delhi', 'Bangalore/ Bengaluru,Karnataka', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru']

In [18]:
d9.get("https://www.naukri.com/hr-recruiters-consultants")

In [22]:

skilll = []
for i in url:
    d9.get(i)
    time.sleep(3)
    try:
        skll = d9.find_element(By.XPATH,'//div[@class="key-skill"]/div[3]')
        skilll.append(skll.text)
    except NoSuchElementException :
        skilll.append("-")

In [23]:
print(skilll)

['HR Generalist ActivitiesHR OperationsTalent AcquisitionRecruitment', 'hiringInterviewingJob PostingFollow UpsGood English Communication', 'Human Resource ManagementRecruitmentScreeningBulk Hiringcommunication skills', 'Communication Skills', 'RecruitmentTalent Acquisition', 'hr generalist activitiesHR Information SystemHR CoordinationHR AdministrationHR Strategy', '-', 'end to end recruitment', 'NBFCrecruitmentMass HiringBulk Hiring', 'HR', '-', '-', 'Payroll ManagementJoining FormalitiesExit FormalitiesPayroll SoftwareHR Generalist Activities', 'talent acquisitionrecruitment', 'Recruitment', 'Recruitment', 'Hr', 'Recruitment', 'HRRecruitmentTalent Acquisitioncommunication skillsInterpersonal Skills', 'Sourcing ProfilesHR ConsultinghrRecruitment']

In [24]:
dep = []
for i in url:
    d9.get(i)
    time.sleep(3)
    try:
        dp = d9.find_element(By.XPATH,'//div[@class="other-details"]/div[3]/span/a')
        dep.append(dp.text)
    except NoSuchElementException :
        dep.append("-")

In [25]:
print(dep)

['Human Resources', 'Human Resources', 'Human Resources', 'Human Resources', 'Human Resources', 'Human Resources', 'Human Resources', 'Human Resources', 'Human Resources', 'Human Resources', 'Human Resources', 'Human Resources', 'Human Resources', 'Human Resources', 'Human Resources', 'Human Resources', 'Human Resources', 'Human Resources', 'Human Resources', 'Human Resources']

In [36]:
hr = pd.DataFrame({'Name':name , "Designation":dep, "Company":comp ,"Skill":skilll ,"Location":loc})
hr

,Name,Designation,Company,Skill,Location
0,Walk in Interview - Assistant Manager-HR,Human Resources,Ics Realty,HR Generalist ActivitiesHR OperationsTalent Ac...,"Bangalore/Bengaluru( Bannerghatta Road, Banner..."
1,Hr Executive And Recruiter,Human Resources,Avils Automation,hiringInterviewingJob PostingFollow UpsGood En...,Bangalore/Bengaluru
2,Hiring For Fresher/HR Recruiter/Recruitment/Da...,Human Resources,Black And White Business Solutions,Human Resource ManagementRecruitmentScreeningB...,Bangalore/Bengaluru
3,HR fresher / Recruiter / Day shift,Human Resources,Black And White Business Solutions,Communication Skills,"Bangalore/Bengaluru( 1st Stage Indira Nagar, V..."
4,Opening For Management Trainee / Executive - HR,Human Resources,Sahajanand Medical Technologies,RecruitmentTalent Acquisition,Mumbai (All Areas)
5,Executive/ Assistant Manager HR Generalist - P...,Human Resources,OASIS,hr generalist activitiesHR Information SystemH...,"Pune,Maharashtra( Koregaon Park )"
6,HR Executive,Human Resources,WeP Solutions Limited,-,Mysore/Mysuru
7,Hiring For HR Associate | Off-Role | End-To-En...,Human Resources,Kotak Life Insurance,end to end recruitment,"Mumbai Suburban,Maharashtra"
8,Assistant Manager - HR (Field Level Recruitment),Human Resources,Muthoot Microfin,NBFCrecruitmentMass HiringBulk Hiring,"Bhubaneswar,Odisha"
9,HR Executive,Human Resources,Caliber Organisation,HR,Ahmedabad
10,HR (Human Resources) Executive,Human Resources,ASK Eva ( Ask Executive Virtual Assistance ),-,Madurai
11,HR Executive - Talent Acquisition,Human Resources,Practo,-,Madurai
12,HR Manager/ Assistant manager/Executive,Human Resources,Nexus Hr Consultancy,Payroll ManagementJoining FormalitiesExit Form...,Nagpur
13,HR Executive,Human Resources,Able Design Engineering Services,talent acquisitionrecruitment,"Dharwad,Karnataka"
14,HR Recruiter,Human Resources,Kinara Capital,Recruitment,Bangalore/Bengaluru
15,HR Executive. (Work from Home),Human Resources,Smart Steps HR Services,Recruitment,New Delhi
16,"Hiring Hr Recruiter For bangalore, freshers sa...",Human Resources,Ignites Human Capital,Hr,"Bangalore/ Bengaluru,Karnataka"
17,Hiring For HR Recruiter,Human Resources,Black And White Business Solutions,Recruitment,Bangalore/Bengaluru
18,Opportunity For Fresher For HR Recruiter Role,Human Resources,Black And White Business Solutions,HRRecruitmentTalent Acquisitioncommunication s...,Bangalore/Bengaluru
19,Hiring For HR Recruiter,Human Resources,Your Pitchh,Sourcing ProfilesHR ConsultinghrRecruitment,Bangalore/Bengaluru

In [42]:
d9.close()

In [2]:
d_1_9 = webdriver.Chrome(r'chromedriver.exe')

In [3]:
p_1_9 = d_1_9.get("https://www.naukri.com/hr-recruiters-consultants")

In [4]:
urls = []
href = d_1_9.find_elements(By.XPATH,'//div[@class="list"]/article/div[1]/div[1]/a')
for i in href:
    urls.append(i.get_attribute("href"))

In [5]:
urls

['https://www.naukri.com/job-listings-hr-intern-hr-remedy-india-kolkata-mumbai-hyderabad-secunderabad-pune-ahmedabad-bangalore-bengaluru-delhi-ncr-0-to-1-years-280623903981',
 'https://www.naukri.com/job-listings-hiring-for-hr-freshers-day-shift-recruiter-black-and-white-business-solutions-bangalore-bengaluru-0-to-0-years-280623008325',
 'https://www.naukri.com/job-listings-hiring-freshers-hr-executive-recruiter-gurugram-acs-advance-career-solutions-gurgaon-gurugram-haryana-0-to-1-years-280623004687',
 'https://www.naukri.com/job-listings-hr-executive-wep-solutions-limited-mysore-mysuru-bangalore-bengaluru-0-to-1-years-220623500895',
 'https://www.naukri.com/job-listings-assistant-manager-hr-field-level-recruitment-muthoot-microfin-bhubaneswar-odisha-hubli-karnataka-sambalpur-odisha-ambala-haryana-belagavi-belgaum-karnataka-0-to-2-years-211222009637',
 'https://www.naukri.com/job-listings-hr-recruiter-symphoni-hr-mumbai-all-areas-0-to-3-years-270623008939',
 'https://www.naukri.com/job-listings-hiring-for-hr-ontrack-hr-services-coimbatore-tamil-nadu-0-to-2-years-010623005856',
 'https://www.naukri.com/job-listings-walk-in-interview-assistant-manager-hr-ics-realty-bangalore-bengaluru-0-to-5-years-211122004923',
 'https://www.naukri.com/job-listings-hr-executive-and-recruiter-avils-infra-private-limited-bangalore-bengaluru-0-to-1-years-210623003956',
 'https://www.naukri.com/job-listings-hr-intern-lifecell-chennai-0-to-3-years-080523002156',
 'https://www.naukri.com/job-listings-direct-walk-in-interview-for-hr-executive-female-m2-vending-gurgaon-gurugram-haryana-0-to-1-years-290623004412',
 'https://www.naukri.com/job-listings-hr-executive-nagpur-third-party-payroll-tata-aia-life-insurance-nagpur-maharashtra-0-to-2-years-270623004341',
 'https://www.naukri.com/job-listings-hr-payroll-executive-cedcoss-technologies-private-limited-lucknow-0-to-3-years-280623501896',
 'https://www.naukri.com/job-listings-hr-recruiter-kinara-capital-bangalore-bengaluru-0-to-1-years-220623009081',
 'https://www.naukri.com/job-listings-hiring-for-fresher-hr-recruiter-recruitment-day-shift-black-and-white-business-solutions-bangalore-bengaluru-0-to-1-years-240623004535',
 'https://www.naukri.com/job-listings-hr-fresher-recruiter-day-shift-black-and-white-business-solutions-bangalore-bengaluru-0-to-0-years-240623004532',
 'https://www.naukri.com/job-listings-hiring-for-hr-recruiter-black-and-white-business-solutions-bangalore-bengaluru-0-to-0-years-220623008426',
 'https://www.naukri.com/job-listings-executive-assistant-manager-hr-generalist-pune-dress-code-oasis-pune-maharashtra-0-to-3-years-190523004916',
 'https://www.naukri.com/job-listings-hr-service-delivery-senior-analyst-recruitment-accenture-solutions-pvt-ltd-bangalore-bengaluru-5-to-8-years-280623903834',
 'https://www.naukri.com/job-listings-opening-for-management-trainee-executive-hr-sahajanand-medical-technologies-mumbai-all-areas-0-to-2-years-260623002132']

In [6]:
name = []
for i in urls:
    d_1_9.get(i)
    time.sleep(3)
    try:
        n1 = d_1_9.find_element(By.XPATH,'/html/body/div[1]/main/div[2]/div[1]/section[1]/div[1]/div[1]/header/h1')
        name.append(n1.text)
    except NoSuchElementException :
        name.append("-")

In [7]:
print(name)

['HR Intern', 'Hiring For HR freshers / Day shift / Recruiter', 'Hiring Freshers : HR Executive: Recruiter-Gurugram : ACS', 'HR Executive', 'Assistant Manager - HR (Field Level Recruitment)', 'HR Recruiter', '-', 'Walk in Interview - Assistant Manager-HR', 'Hr Executive And Recruiter', 'HR Intern', 'Direct Walk in Interview For HR Executive(Female)', 'HR Executive || Nagpur || Third Party Payroll', 'HR Payroll Executive', 'HR Recruiter', 'Hiring For Fresher/HR Recruiter/Recruitment/Day Shift', 'HR fresher / Recruiter / Day shift', 'Hiring For HR Recruiter', 'Executive/ Assistant Manager HR Generalist - Pune ( Dress Code )', '-', 'Opening For Management Trainee / Executive - HR']

In [8]:
company = []
for i in urls:
    d_1_9.get(i)
    time.sleep(3)
    try:
        c1 = d_1_9.find_element(By.XPATH,'/html/body/div[1]/main/div[2]/div[1]/section[1]/div[1]/div[1]/div[1]/a')
        company.append(c1.text)
    except NoSuchElementException :
        company.append("-")

In [9]:
company

['HR Remedy India',
 'Black And White Business Solutions',
 'Advance Career Solutions',
 'WeP Solutions Limited',
 'Muthoot Microfin',
 'Symphoni Hr',
 '-',
 'Ics Realty',
 'Avils Automation',
 'Lifecell',
 'm2 Vending',
 'Tata AIA Life Insurance',
 'Cedcoss Technologies',
 'Kinara Capital',
 'Black And White Business Solutions',
 'Black And White Business Solutions',
 'Black And White Business Solutions',
 'OASIS',
 '-',
 'Sahajanand Medical Technologies']

In [10]:
role = []
for i in urls:
    d_1_9.get(i)
    time.sleep(3)
    try:
        r1 = d_1_9.find_element(By.XPATH,'/html/body/div[1]/main/div[2]/div[1]/section[2]/div[2]/div[1]/span/a')
        role.append(r1.text)
    except NoSuchElementException :
        role.append("-")

In [11]:
role

['Human Resources - Other',
 'Recruitment & Talent Acquisition - Other',
 'Recruitment & Talent Acquisition - Other',
 'HR Generalist',
 'Recruitment & Talent Acquisition - Other',
 'Recruitment & Talent Acquisition - Other',
 '-',
 'HR Business Partner (HRBP)',
 'Recruitment & Talent Acquisition - Other',
 'HR Operations - Other',
 'HR Generalist',
 'Recruitment & Talent Acquisition - Other',
 'HR Policy & Compliance',
 'Recruitment & Talent Acquisition - Other',
 'Recruitment & Talent Acquisition - Other',
 'Recruitment & Talent Acquisition - Other',
 'Recruitment & Talent Acquisition - Other',
 'HR Generalist',
 '-',
 'Human Resources - Other']

In [12]:
location = []
for i in urls:
    d_1_9.get(i)
    time.sleep(3)
    try:
        l1 = d_1_9.find_element(By.XPATH,'//div[@class="leftSec"]/section[1]/div[1]/div[2]/div[2]/span')
        location.append(l1.text)
    except NoSuchElementException :
        location.append("-")

In [13]:
location

['Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Ahmedabad, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru( 1st Stage Indira Nagar, Vijayanagar, Domlur )',
 'Gurgaon/ Gurugram,Haryana',
 'Mysore/Mysuru, Bangalore/Bengaluru',
 'Bhubaneswar,Odisha, Hubli,Karnataka, Sambalpur,Odisha, Ambala,Haryana, Belagavi/ Belgaum,Karnataka',
 '-',
 '-',
 'Bangalore/Bengaluru( Bannerghatta Road, Bannerghatta, BTM Layout )',
 'Bangalore/Bengaluru',
 'Hybrid',
 'Gurgaon/ Gurugram,Haryana',
 'Nagpur,Maharashtra',
 'Lucknow',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru( 1st Stage Indira Nagar, Vijayanagar, Domlur )',
 'Bangalore/Bengaluru',
 'Pune,Maharashtra( Koregaon Park )',
 '-',
 'Mumbai (All Areas)']

In [14]:
skills = []
for i in urls:
    d_1_9.get(i)
    time.sleep(3)
    try:
        s1 = d_1_9.find_element(By.XPATH,'//div[@class="key-skill"]/div[3]')
        skills.append(s1.text)
    except NoSuchElementException :
        skills.append("-")

In [15]:
skills

['Human Resource',
 'communication skills',
 'communication skillsRecruitment',
 '-',
 'NBFCrecruitmentMass HiringBulk Hiring',
 'Recruitment',
 '-',
 'HR Generalist ActivitiesHR OperationsTalent AcquisitionRecruitment',
 'hiringInterviewingJob PostingFollow UpsGood English Communication',
 'Recruitment',
 'HR Generalist Activities',
 'Human ResourceHiringTalent Acquisition',
 '-',
 'Recruitment',
 'Human Resource ManagementRecruitmentScreeningBulk Hiringcommunication skills',
 'Communication Skills',
 'Recruitment',
 'hr generalist activitiesHR Information SystemHR CoordinationHR AdministrationHR Strategy',
 '-',
 'RecruitmentTalent Acquisition']

In [16]:
nkri = pd.DataFrame({"Name":name, "Designation":role,"Company":company,"Location":location, "Skill":skills})
nkri

,Name,Designation,Company,Location,Skill
0,HR Intern,Human Resources - Other,HR Remedy India,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Human Resource
1,Hiring For HR freshers / Day shift / Recruiter,Recruitment & Talent Acquisition - Other,Black And White Business Solutions,"Bangalore/Bengaluru( 1st Stage Indira Nagar, V...",communication skills
2,Hiring Freshers : HR Executive: Recruiter-Guru...,Recruitment & Talent Acquisition - Other,Advance Career Solutions,"Gurgaon/ Gurugram,Haryana",communication skillsRecruitment
3,HR Executive,HR Generalist,WeP Solutions Limited,"Mysore/Mysuru, Bangalore/Bengaluru",-
4,Assistant Manager - HR (Field Level Recruitment),Recruitment & Talent Acquisition - Other,Muthoot Microfin,"Bhubaneswar,Odisha, Hubli,Karnataka, Sambalpur...",NBFCrecruitmentMass HiringBulk Hiring
5,HR Recruiter,Recruitment & Talent Acquisition - Other,Symphoni Hr,-,Recruitment
6,-,-,-,-,-
7,Walk in Interview - Assistant Manager-HR,HR Business Partner (HRBP),Ics Realty,"Bangalore/Bengaluru( Bannerghatta Road, Banner...",HR Generalist ActivitiesHR OperationsTalent Ac...
8,Hr Executive And Recruiter,Recruitment & Talent Acquisition - Other,Avils Automation,Bangalore/Bengaluru,hiringInterviewingJob PostingFollow UpsGood En...
9,HR Intern,HR Operations - Other,Lifecell,Hybrid,Recruitment
10,Direct Walk in Interview For HR Executive(Female),HR Generalist,m2 Vending,"Gurgaon/ Gurugram,Haryana",HR Generalist Activities
11,HR Executive || Nagpur || Third Party Payroll,Recruitment & Talent Acquisition - Other,Tata AIA Life Insurance,"Nagpur,Maharashtra",Human ResourceHiringTalent Acquisition
12,HR Payroll Executive,HR Policy & Compliance,Cedcoss Technologies,Lucknow,-
13,HR Recruiter,Recruitment & Talent Acquisition - Other,Kinara Capital,Bangalore/Bengaluru,Recruitment
14,Hiring For Fresher/HR Recruiter/Recruitment/Da...,Recruitment & Talent Acquisition - Other,Black And White Business Solutions,Bangalore/Bengaluru,Human Resource ManagementRecruitmentScreeningB...
15,HR fresher / Recruiter / Day shift,Recruitment & Talent Acquisition - Other,Black And White Business Solutions,"Bangalore/Bengaluru( 1st Stage Indira Nagar, V...",Communication Skills
16,Hiring For HR Recruiter,Recruitment & Talent Acquisition - Other,Black And White Business Solutions,Bangalore/Bengaluru,Recruitment
17,Executive/ Assistant Manager HR Generalist - P...,HR Generalist,OASIS,"Pune,Maharashtra( Koregaon Park )",hr generalist activitiesHR Information SystemH...
18,-,-,-,-,-
19,Opening For Management Trainee / Executive - HR,Human Resources - Other,Sahajanand Medical Technologies,Mumbai (All Areas),RecruitmentTalent Acquisition